In [1]:
%%bash
docker run -d --rm --name mariadb-server -p 3306:3306 -e ALLOW_EMPTY_PASSWORD=yes bitnami/mariadb:latest

eb6935d01d958bc724ed2140f960dfddfa9a2b58129876b8778b889735afbfe7

In [2]:
%%bash
docker --version

Docker version 24.0.6, build ed223bc

In [3]:
%%bash
mysql -h localhost -u root -P 3306 --protocol=TCP -e "CREATE DATABASE IF NOT EXISTS studentDB;"

In [4]:
%%bash
mysql -h localhost -u root -P 3306 --protocol=TCP studentDB -e "SET SESSION sql_mode='ORACLE';" < program1.sql

In [8]:
%%file start_plsql_session.sql
SET SESSION sql_mode=ORACLE;

Overwriting start_plsql_session.sql

start_plsql_session.sql: line 1: SET: command not found

CalledProcessError: Command 'b'./create_session.sh\n'' returned non-zero exit status 127.

In [ ]:
%%file create_database.sql
CREATE DATABASE studentDB;

In [5]:
%%file program_1.sql
DECLARE
    -- Declarations (optional)
    var VARCHAR2(40) := 'Hello World'; -- Initialize the var variable
BEGIN
    -- Executable statements
    -- SQL queries, procedural code
    SELECT var; -- Print the value of var
END;

Writing program_1.sql

In [ ]:
%%file create_student.sql
CREATE TABLE Student (Name VARCHAR(50), marks INT);

In [ ]:
%%file program_2.sql
DECLARE
    student1_name VARCHAR(50);   -- Variable for the first student's name
    student2_name VARCHAR(50);   -- Variable for the second student's name
    student1_marks INT;         -- Variable for the first student's marks
    student2_marks INT;         -- Variable for the second student's marks
BEGIN
    -- Assign values to student variables
    student1_name := 'John';     -- Assign the name 'John' to student1_name
    student2_name := 'Jane';     -- Assign the name 'Jane' to student2_name
    student1_marks := 75;    -- Assign the marks 75000 to student1_marks
    student2_marks := 55;    -- Assign the marks 85000 to student2_marks
    
    -- Compare marks and insert the appropriate student data into the table
    IF student1_marks > student2_marks THEN
        INSERT INTO Student VALUES (student1_name, student1_marks); -- Insert John's data
        SELECT student1_name;  -- Select and return student1_name if student1_marks > student2_marks
    ELSE
        INSERT INTO Student VALUES (student2_name, student2_marks); -- Insert Jane's data
        SELECT student2_name;  -- Select and return student2_name if student2_marks >= student1_marks
    END IF;
    
END;

In [ ]:
%file show_student.sql
SELECT * FROM Student;

In [ ]:
%%file create_numbers.sql
CREATE TABLE Numbers (Num INT);

In [ ]:
%%file program_3.sql
CREATE TABLE Numbers (Num INT); -- Create the Numbers table with one column named Num of type INT

DECLARE
   i INT;
   j INT := 1;
BEGIN
   FOR i IN REVERSE 1..10 LOOP
      INSERT INTO Numbers VALUES (i); -- Insert integers from 1 to 10 into the Numbers table
   END LOOP;
   WHILE j <= 10 LOOP
      INSERT INTO Numbers VALUES (j); -- Insert integers from 11 to 20 into the Numbers table
      j := j + 1; -- Increment i for the next iteration
   END LOOP;
END;

In [ ]:
%%file show_numbers.sql
SELECT * from Numbers;

In [ ]:
%%file create_teacher_data.sql
CREATE TABLE Teacher_Data(teacher_id INT, teacher_name VARCHAR(50), teacher_salary INT);
INSERT INTO Teacher_Data VALUES(102,'John Doe',20000);
INSERT INTO Teacher_Data VALUES(103,'Jane Doe',40000);
INSERT INTO Teacher_Data VALUES(104,'Shawn Doe',60000);

In [ ]:
%%file program_4.sql
DECLARE
   salary INT;
   error_message VARCHAR(50);
   error_message2 VARCHAR(50);
BEGIN
    error_message := 'No Data Found';
    error_message2 := 'An Error Occurred';
   -- Attempt to retrieve the salary of an teacher with teacher_id 101
   SELECT teacher_salary INTO salary FROM Teacher_Data WHERE teacher_id = 101;
    SELECT salary;
EXCEPTION
   WHEN NO_DATA_FOUND THEN
      -- Handle no data found error
      SELECT error_message;
    WHEN OTHERS THEN
        -- Handle all other errors
        SELECT error_message2;
END;